body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height to minimize scrolling */
    background: #f0f0f0; /* Optional: adds a background color for better visibility */
}

.container {
    width: 95%; /* Slightly increased to utilize more of the screen */
    max-width: 3000px; /* Increased maximum width for larger screens */
}

.header {
    text-align: center; /* Centers the header text */
    margin-bottom: 100px; /* Space between header and description */
}

.media-viewer {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align vertically stacked items */
}

.description {
    text-align: center; /* Centers the text in description */
    margin-bottom: 20px; /* Space between description and images */
    max-width: 120vh;
}

.images {
    display: flex;
    justify-content: space-evenly; /* Changes to space-evenly for better distribution of space */
    width: 100%; /* Allows the image container to expand fully */
}

.images img {
    width: auto; /* Auto width to maintain aspect ratio */
    max-width: 49%; /* Each image can take almost half of the container's width */
    height: auto; /* Maintain aspect ratio */
}
