/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(0deg,black,white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  position: relative;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}



/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}



/* FOOTER SECTION */

footer {
    height: 26vh;
    margin: 0;
  }
  
  footer p {
    text-align: center;
  }
  
  /* SPECIFIC STYLING FOR THIS PAGE */

.music-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;

}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: white;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.img-container img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}


.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: white;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 100px;
  padding: 10px;
}

.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255,255,255,0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: 96%;
  opacity: 0;
  transform: translateY(0%);
  padding: 10px 10px 10px 150px;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;

}

.music-info h4 {
  margin: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

/* Ensure the .progress bar fills from left to right */
.progress-container {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
  /* Add overflow hidden if not already there */
  overflow: hidden;
}

.progress {
  background-color: grey;
  border-radius: 5px;
  height: 100%;
  transition: width 0.1s linear;
}
