body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background: #000; /* Set the background to black */
}

.media-viewer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.media-viewer video {
    display: block;
    object-fit: contain; /* Ensures no part of the video is cut off */
    max-width: 100%; /* Maximum width is 100% of its container */
    max-height: 100%; /* Maximum height is 100% of its container */
    background: #000; /* Set the video background to black in case there are any letterboxing due to aspect ratio differences */
}

#mediaVideo1 {
    width: 45%;
    height: 100%;
    position: absolute;
    left: 0;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.5);
}

#mediaVideo2 {
    width: 55%;
    height: 50%;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#mediaVideo3 {
    width: 55%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
}
